/* IMPOSTAZIONI GENERALI */

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/sfondo.png);
  line-height: 1.4;
  padding: 1rem;
}

hr {
  display: none;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

main ul {
  list-style: disc;
  padding-left: 20;
}

ol {
  list-style: decimal;
}
/* HEADER */
header {
  background-image: linear-gradient(3600deg, rgba(2, 109, 136, 1) 20%, rgba(0, 156, 194, 1) 100%);
  box-shadow: 0px 5px 5px 0px rgb(90, 90, 90);
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

header p {
  margin: 1rem;
}

header a {
  color: inherit; /* will get the white colour from header */
  text-decoration: none;
}

/* MAIN */

main {
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgb(90, 90, 90);
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
}
/* ELEMENTI NEL MAIN - ARTICLE */
.icons {
  color: grey;
  margin: 1rem auto;
}

code {
  display: inline-block;
  background-color: rgba(224, 224, 224, 0.671);
  border: 1px solid grey;
  border-radius: 8px;
  padding-block: 0.25rem;
}

strong {
  font-weight: bold;
  color: purple;
}
/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
  background-image: linear-gradient(3600deg, rgb(0, 69, 71) 20%, rgb(1, 98, 122) 100%);
  box-shadow: 0px 5px 5px 0px rgb(90, 90, 90);
  color: white;
  padding: 1rem;
}
